[package]
name = "femto-gpt"
version = "0.1.0"
edition = "2021"

[dependencies]
rand = "0.8.5"
rand_distr = "0.4.3"
serde = { version = "1.0", features = ["derive"] }
bincode = "1.3.3"
rayon = "1.7.0"
